@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="alert alert-info mt-4">
    <span>To get started, select a menu item from the navigation bar.</span>
</div>


